* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr min(50vmax, 100vw, 100%) 1fr;
    grid-template-columns: 100vw;
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.hdng,
#stndngsd {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.l {
    color: blue;
}

.u {
    color: red;
}

.d {
    color: green;
}

.o {
    color: yellow;
}

footer {
    grid-row: 3 / 4;
}

#container {
    height: 100%;
    aspect-ratio: 1;
    grid-row: 2 / 3;
    position: relative;
}

#board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 40% 20% 40%;
    opacity: 0.1;
    pointer-events: none;
    transition: opacity 0.6s ease;
    z-index: 1;
}

.greenTurn {
    grid-column: 3 / 4;
}

.yellowTurn {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.blueTurn {
    grid-row: 3 / 4;
}

#theme {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#btm {
    place-items: center;
    display: none;
    position: absolute;
    z-index: 0;
}

#stndngsd {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#stndngsd div {
    border-radius: 50%;
    aspect-ratio: 1;
    text-shadow: 0 0 0.2vmax #000;
    color: #fff;
    font-size: min(8vh, 4vw);
    display: grid;
    place-items: center;
}

@media (orientation: landscape) {
    body {
        background-image: url(bg.webp);
    }

    #btm {
        grid-template-rows: 26% 48% 26%;
        grid-template-columns: 17% 66% 17%;
        width: 150%;
        height: 100%;
        left: -25%;
    }

    #stndngsd {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    #stndngsd div {
        width: 51%;
    }

    #intro div button {
        min-width: min(7vh, 3.5vw);
        min-height: min(7vh, 3.5vw);
        max-width: min(7vh, 3.5vw);
        max-height: min(7vh, 3.5vw);
    }

    p,
    button {
        font-size: min(6vh, 3vw);
    }

    h3 {
        font-size: min(12vh, 6vw);
    }

    h4 {
        font-size: min(8vh, 4vw);
    }

    #greenmid>div>div>div,
    #bluemid>div>div>div,
    #redmid>div>div>div,
    #yellowmid>div>div>div {
        font-size: min(3vh,1.5vw);
    }
}

@media (orientation: portrait) {

    body {
        background-image: url(bgp.webp);
    }

    #btm {
        grid-template-columns: 26% 48% 26%;
        grid-template-rows: 17% 66% 17%;
        height: 150%;
        width: 100%;
        top: -25%;
    }

    #stndngsd {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    #stndngsd div {
        height: 40%;
    }

    #intro div button {
        min-width: min(7vw, 3.5vh);
        min-height: min(7vw, 3.5vh);
        max-width: min(7vw, 3.5vh);
        max-height: min(7vw, 3.5vh);
    }

    p,
    button {
        font-size: min(6vw, 3vh);
    }

    h3 {
        font-size: min(12vw, 6vh);
    }

    h4 {
        font-size: min(8vw, 4vh);
    }
    
    #greenmid>div>div>div,
    #bluemid>div>div>div,
    #redmid>div>div>div,
    #yellowmid>div>div>div {
        font-size: min(1.5vh,3vw);
    }
}

#greenmid,
#bluemid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: white;
}

#redmid,
#yellowmid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
}

#greenmid>div,
#bluemid>div,
#redmid>div,
#yellowmid>div {
    width: 100%;
    height: 100%;
    position: relative;
    border: 0.15vmin solid rgba(0, 0, 0, 0.3);
}

#greenmid>#gs,
#bluemid>#bs,
#redmid>#rs,
#yellowmid>#ys {
    border: 0vmin solid rgba(0, 0, 0, 0.3);
}

#greenmid>div>div,
#bluemid>div>div,
#redmid>div>div,
#yellowmid>div>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 1;
    padding: 10%;
    background-color: transparent;
}

#greenmid>div>div>div,
#bluemid>div>div>div,
#redmid>div>div>div,
#yellowmid>div>div>div {
    width: 100%;
    height: 100%;
    border: 0.5vmin solid black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-shadow: 0 0 0.2vmax #000;
    color: #fff;
    cursor: pointer;
    z-index: inherit;
}

#center {
    z-index: 0;
    overflow: hidden;
}

#rotated {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 71% 71%;
    grid-template-rows: 71% 71%;
    transform: rotate(-45deg) translateY(-21%) translateX(-20%);
}

#red,
#green,
#yellow,
#blue {
    padding: 16.66%;
    cursor: pointer;
    z-index: 30;
    border: 0.15vmin solid rgba(0, 0, 0, 0.3);
}

.blink {
    background: white;
    width: 100%;
    height: 100%;
    padding: 12.5%;
    display: grid;
    grid-template-columns: 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33%;
    gap: 33.33%;
}

#red .blink div,
#green .blink div,
#yellow .blink div,
#blue .blink div {
    border-radius: 50%;
}

#red .blink div div,
#green .blink div div,
#yellow .blink div div,
#blue .blink div div {
    border: 0.5vmin solid black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#red {
    background: red;
}

#green {
    background: green;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}

#red .blink div div {
    background-color: red;
}

#green .blink div div {
    background-color: green;
}

#yellow .blink div div {
    background-color: yellow;
}

#blue .blink div div {
    background-color: blue;
}

.rb,
#rt {
    background-color: red;
}

.gb,
#gt {
    background-color: green;
}

.bb,
#bt {
    background-color: blue;
}

.yb,
#yt {
    background-color: yellow;
}

#red .blink div {
    border: 0.5vmin solid red;
}

#green .blink div {
    border: 0.5vmin solid green;
}

#blue .blink div {
    border: 0.5vmin solid blue;
}

#yellow .blink div {
    border: 0.5vmin solid yellow;
}

@keyframes rotateDice {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.dice-container {
    height: 100%;
    display: grid;
    place-items: center;
    scale: 0.5;
}

.dice {
    height: 100%;
    aspect-ratio: 1;
    transform-style: preserve-3d;
    transform: rotateX(180deg) rotateY(0deg);
    transition: transform 0.5s linear;
}

.pulse {
    animation: pulsescale 0.5s infinite;
}

@keyframes pulsescale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: max(1.5vw, 1.5vh);
    box-shadow: 0vw 0vw 0.1vw 0.1vw rgb(0, 0, 0, 0.35);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10%;
}

.side>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 1.5vmax;
    cursor: pointer;
    width: 80%;
    height: 80%;
}

.side-1 {
    transform: rotateX(000deg) translateZ(min(5vmax, 10vh));
}

.side-2 {
    transform: rotateY(270deg) translateZ(min(5vmax, 10vh));
}

.side-2 div {
    column-gap: 25%;
}

.side-3 {
    transform: rotateX(270deg) translateZ(min(5vmax, 10vh));
}

.side-3 div {
    column-gap: 5%;
}

.side-4 div {
    column-gap: 25%;
}

.side-4 {
    transform: rotateX(090deg) translateZ(min(5vmax, 10vh));
}

.side-5 {
    transform: rotateY(090deg) translateZ(min(5vmax, 10vh));
    column-gap: 30%;
    padding: 10%;
}

.side-5 div {
    column-gap: 40%;
}

.side-5 #b3 {
    margin: 0% 10%;
}

.side-6 {
    transform: rotateX(180deg) translateZ(min(5vmax, 10vh));
}

.side-6 div {
    column-gap: 5%;
}

.side div div {
    background-color: black;
    width: 30%;
    height: 30%;
    min-width: 30%;
    min-height: 30%;
    max-width: 30%;
    max-height: 30%;
    border-radius: 50%;
}

#intro {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 20% 40%;
    place-items: center;
    color: white;
}

#start {
    grid-column: 1/3;
}

#players,
#pieces {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#plns,
#pins {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#pins button{
    border-radius: 50%;
}

#intro div button {
    padding: 0%;
    margin: 1.5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    background-color: green;
    color: white;
}

#home {
    display: block;
    background-color: red;
    color: white;
}

#restart {
    top: 3.5vmin;
    left: 3.5vmin;
    position: absolute;
    display: block;
    color: white;
    background: transparent;
    outline: none;
    padding: 0;
    width: 5vmin;
    height: 5vmin;
}

#restart svg {
    width: 100%;
    height: 100%;
}

.rs,
.gs,
.bs,
.ys {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border: 0;
}

#rs,
#gs,
#bs,
#ys {
    border: 0;
}

.bp4 {
    background-color: blue;
    border-radius: 50%;
}

.str {
    background-image: url(star.webp);
    background-repeat: no-repeat;
    background-size: contain;

}

#confirm {
    background-color: white;
    z-index: 44;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 1vw;
    padding: 1vw;
    box-shadow: 0vw 0vw 0.5vw 0.5vw rgb(0, 0, 0, 0.35);
    transform: scale(0);
    transition: scale 0.3s ease;
}

#cnfrmb {
    display: flex;
    flex-direction: row;
    gap: 3vmin;
}

#no {
    display: block;
    background-color: green;
    color: white;
}

button {
    cursor: pointer;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    max-width: fit-content;
    transition: transfrom 0.3s ease;
}

button:active {
    transform: scale(0.9);
}

#fullscreen {
    position: absolute;
    right: 3.5vmin;
    top: 3.5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vmin;
    height: 5vmin;
}

#fullscreen svg {
    width: 100%;
    height: 100%;
}

.pick {
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: transparent;
}

.pick div {
    border-radius: 50%;
}

.active div {
    width: 60%;
    height: 60%;
}

.passive div {
    width: 100%;
    height: 100%;
}

.red div {
    background: red;
}

.green div {
    background: green;
}

.blue div {
    background: blue;
}

.yellow div {
    background: yellow;
}

.red {
    border: 0.7vmin solid red;
}

.blue {
    border: 0.7vmin solid blue;
}

.green {
    border: 0.7vmin solid green;
}

.yellow {
    border: 0.7vmin solid yellow;
}

#restart:focus {
    transform: rotate(360deg);
    transition: transform 0.6s ease-in-out;
}