* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 25vh 50vh 25vh;
    grid-template-columns: 100vw;
    place-items: center;
    background-image: url(bg.jpg);
    background-size: cover;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hdng,
#stndngsd {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.l {
    color: blue;
    pointer-events: all;
}

.u {
    pointer-events: all;
    color: red;
}

.d {
    pointer-events: all;
    color: green;
}

.o {
    pointer-events: all;
    color: yellow;
}

#container {
    height: min(100%, 100vw);
    width: min(100%, 50vh);
    grid-row: 2 / 3;
}

#board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 40% 20% 40%;
}

@media (orientation: landscape) {
    body {
        grid-template-rows: auto min(20vw, 40vh) min(30vw, 60vh) auto;
        grid-template-columns: 50vw 50vw;
    }

    #container {
        height: min(100vh, 50vw);
        width: min(100%, 100vh);
        grid-row: 1 / 5;
        grid-column: 1 / 2;
        padding: 0%;
    }

    header {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    #theme {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    #btm {
        display: none;
        grid-template-rows: min(10vw,20vh) min(20vw,40vh);
        grid-template-columns: 20vw;
        place-items: center;
    }

    #intro {
        grid-template-columns: 20vw 20vw;
        grid-template-rows: min(10vw,20vh) min(20vw,40vh);
    }

    #stndngsd {
        width: 100%;
        font-size: 7vmin;
        gap: 4vmin;
    }
}

@media (orientation: portrait) {
    #intro {
        grid-template-rows: 15vh 10vh;
        grid-template-columns: min(50vw, 25vh) min(50vw, 25vh);
    }

    #btm {
        display: none;
        grid-template-columns: min(50vw, 25vh) min(50vw, 25vh);
        grid-template-rows: 10vh;
        place-items: center;
    }

    #stndngsd {
        width: 100%;
        font-size: 7vmin;
        gap: 7vmin;
    }
}

#greenmid,
#bluemid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: white;
}

#redmid,
#yellowmid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
}

#greenmid>div,
#bluemid>div,
#redmid>div,
#yellowmid>div {
    width: 100%;
    height: 100%;
    position: relative;
    border: 0.15vmin solid rgba(0, 0, 0, 0.3);
}

#greenmid>#gs,
#bluemid>#bs,
#redmid>#rs,
#yellowmid>#ys {
    border: 0vmin solid rgba(0, 0, 0, 0.3);
}

#greenmid>div>div,
#bluemid>div>div,
#redmid>div>div,
#yellowmid>div>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 1;
    padding: 10%;
    background-color: transparent;
    transition: all 0.1s ease-out;
}

#greenmid>div>div>div,
#bluemid>div>div>div,
#redmid>div>div>div,
#yellowmid>div>div>div {
    width: 100%;
    height: 100%;
    border: 0.5vmin solid black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.5vmax;
    color: white;
    cursor: pointer;
    z-index: inherit;
}

#center {
    z-index: 0;
    overflow: hidden;
}

#rotated {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 71% 71%;
    grid-template-rows: 71% 71%;
    transform: rotate(-45deg) translateY(-21%) translateX(-20%);
}

#red,
#green,
#yellow,
#blue {
    padding: 16.66%;
    cursor: pointer;
    border: 0.15vmin solid rgba(0, 0, 0, 0.3);
}

.blink {
    background: white;
    width: 100%;
    height: 100%;
    padding: 12.5%;
    display: grid;
    grid-template-columns: 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33%;
    gap: 33.33%;
}

#red .blink div,
#green .blink div,
#yellow .blink div,
#blue .blink div {
    border-radius: 50%;
}

#red .blink div div,
#green .blink div div,
#yellow .blink div div,
#blue .blink div div {
    border: 0.5vmin solid black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#red {
    background: red;
}

#green {
    background: green;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}

#red .blink div div {
    background-color: red;
}

#green .blink div div {
    background-color: green;
}

#yellow .blink div div {
    background-color: yellow;
}

#blue .blink div div {
    background-color: blue;
}

.rb,
#rt {
    background-color: red;
}

.gb,
#gt {
    background-color: green;
}

.bb,
#bt {
    background-color: blue;
}

.yb,
#yt {
    background-color: yellow;
}

#red .blink div {
    border: 0.5vmin solid red;
}

#green .blink div {
    border: 0.5vmin solid green;
}

#blue .blink div {
    border: 0.5vmin solid blue;
}

#yellow .blink div {
    border: 0.5vmin solid yellow;
}

@keyframes rotateDice {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.dice-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 25% 50% 25%;
}

.dice {
    height: 100%;
    aspect-ratio: 1;
    transform-style: preserve-3d;
    transform: rotateX(180deg) rotateY(0deg);
    transition: transform 0.5s linear;
    grid-column: 2/3;
}

.dicepd{
    font-size: min(5vmax,10vh);
}

.side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: max(1.5vw, 1.5vh);
    box-shadow: 0vw 0vw 0.1vw 0.1vw rgb(0, 0, 0, 0.35);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10%;
}

.side>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 1.5vmax;
    cursor: pointer;
    width: 80%;
    height: 80%;
}

.side-1 {
    transform: rotateX(000deg) translateZ(min(5vmax,10vh));
}

.side-2 {
    transform: rotateY(270deg) translateZ(min(5vmax,10vh));
}

.side-2 div {
    column-gap: 25%;
}

.side-3 {
    transform: rotateX(270deg) translateZ(min(5vmax,10vh));
}

.side-3 div {
    column-gap: 5%;
}

.side-4 div {
    column-gap: 25%;
}

.side-4 {
    transform: rotateX(090deg) translateZ(min(5vmax,10vh));
}

.side-5 {
    transform: rotateY(090deg) translateZ(min(5vmax,10vh));
    column-gap: 30%;
    padding: 10%;
}

.side-5 div {
    column-gap: 40%;
}

.side-5 #b3 {
    margin: 0% 10%;
}

.side-6 {
    transform: rotateX(180deg) translateZ(min(5vmax,10vh));
}

.side-6 div {
    column-gap: 5%;
}

.side div div {
    background-color: black;
    width: 30%;
    height: 30%;
    min-width: 30%;
    min-height: 30%;
    max-width: 30%;
    max-height: 30%;
    border-radius: 50%;
}

.pulse-animation {
    animation: pulse 0.5s infinite;
}

#intro {
    display: grid;
    place-items: center;
    color: white;
}

#start {
    grid-column: 1/3;
}

#players,
#pieces {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#plns,
#pins {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#intro div button {
    background-color: transparent;
    color: yellow;
    border: 0.5vmin solid yellow;
    padding: 0%;
    margin: 1.5vmin;
    min-width: 3.5vmax;
    min-height: 3.5vmax;
    max-width: 3.5vmax;
    max-height: 3.5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    background-color: green;
    color: white;
}

#home {
    display: block;
    background-color: red;
    color: white;
}

#restart {
    display: block;
    background-color: red;
    color: white;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.rs,
.gs,
.bs,
.ys {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border: 0;
}

#rs,
#gs,
#bs,
#ys {
    border: 0;
}

.bp4 {
    background-color: blue;
    border-radius: 50%;
}

.str {
    background-image: url(star.png);
    background-repeat: no-repeat;
    background-size: contain;

}

#confirm {
    background-color: white;
    z-index: 44;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 1vw;
    padding: 1vw;
    box-shadow: 0vw 0vw 0.5vw 0.5vw rgb(0, 0, 0, 0.35);
    transform: scale(0);
    transition: all 0.3s ease;
}

#cnfrmb {
    display: flex;
    flex-direction: row;
    gap: 3vmin;
}

#no {
    display: block;
    background-color: green;
    color: white;
}

button {
    cursor: pointer;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    max-width: fit-content;
    transition: transfrom 0.3s ease;
}

button:active {
    transform: scale(0.9);
}

p,
button {
    font-size: max(3vw, 3vh);
}

h3 {
    font-size: max(6vw, 6vh);
}

h4 {
    font-size: max(4vw, 4vh);
}

#fullscreen {
    position: absolute;
    right: 3.5vmin;
    top: 3.5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vmin;
    height: 5vmin;
}

#fullscreen svg {
    width: 100%;
    height: 100%;
}