* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 33.35vh;
    display: flex;
    flex-direction: row;
    background-image: url(bg.jpg);
    background-size: 200%;
    justify-content: space-evenly;
    align-items: center;
    zoom: 3;
    font-family: Arial, Helvetica, sans-serif;
}

#dtp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mbl {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btm {
    min-height: 150px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hdng,
#stndngsd,
#stndngsm {
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    font-weight: bolder;
}
.hdng{
    pointer-events: all;
    cursor: pointer;
}
#stndngsm{
    flex-direction: column;
}
#stndngsd,
#stndngsm {
    width: 100%;
    justify-content: space-evenly;
    font-size: medium;
    text-transform: capitalize;
}

#board {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 225px;
    min-height: 225px;
    max-width: 225px;
    max-height: 225px;
    z-index: 1;
}

#theme {
    min-width: 150px;
    max-width: 150px;
    min-height: 225px;
    max-height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.l {
    color: blue;
    pointer-events: all;
}

.u {
    pointer-events: all;
    color: red;
}

.d {
    pointer-events: all;
    color: green;
}

.o {
    pointer-events: all;
    color: yellow;
}

@media (max-width:1250px) {
    body {
        height: 40vh;
        zoom: 2.5;
    }
}

@media (max-width:879px) {/*portrait*/

    body {
        flex-direction: column;
        padding: 0px;
        height: 32vh;
        zoom: 2;
    }

    #dtp {
        display: none;
    }

    #intro div {
        width: 46%;
    }

    #mbl {
        min-width: 225px;
        display: flex;
    }

    #board {
        margin-top: 20px;
    }

    #theme {
        min-width: 225px;
        max-width: 225px;
        min-height: 88px;
    }

    #btm {
        min-height: 10vh;
        display: none;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

}

@media (max-width:862px)and (max-height:700px) {

    /* tab landscape */
    body {
        padding: 0px;
        height: 32vh;
        zoom: 3;
    }

    #dtp {
        display: flex;
    }

    #mbl {
        display: none;
    }

    #board {
        margin-top: 20px;
    }

    #theme {
        min-height: 88px;
    }
}


@media (max-width:950px)and (min-height:800px) {

    /*tab portrait*/
    body {
        flex-direction: column;
        padding: 0px;
        height: 32vh;
        zoom: 3;
    }

    #dtp {
        display: none;
    }

    #intro div {
        width: 46%;
    }

    #mbl {
        min-width: 225px;
        display: flex;
    }

    #board {
        margin-top: 20px;
    }

    #theme {
        min-width: 225px;
        max-width: 225px;
        min-height: 88px;
    }

    #btm {
        min-height: 10vh;
        display: none;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}


@media (min-width:499px)and (max-height:800px) {
    body {
        height: 40vh;
        gap: 0%;
    }

    #mbl {
        margin-top: 0%;
    }
}

@media (max-width:499px) {
    body {
        flex-direction: column;
        gap: 3%;
        padding: 0px;
        height: 32vh;
        zoom: 1.8;
    }

    #dtp {
        display: none;
    }

    #intro div {
        width: 46%;
    }

    #mbl {
        margin-top: 28%;
        display: flex;
    }

    #theme {
        min-width: 225px;
        max-width: 225px;
    }

    #btm {
        min-height: 10vh;
        flex-direction: row;
        min-height: 10vh;
    }
}

@media (max-width:425px) {
    body {
        zoom: 1.60;
    }
}

@media (max-width:375px) {
    body {
        zoom: 1.40;
    }
}

@media (max-width:320px) {
    body {
        zoom: 1.25;
    }
}

@media (max-width:290px) {
    body {
        zoom: 1.15;
    }
}

@media (max-width:260px) {
    body {
        zoom: 1;
    }
}

@media (max-width:225px) {
    body {
        zoom: 0.85;
    }
}

@media (max-width:200px) {
    body {
        zoom: 0.75;
    }
}

@media (max-width:170px) {
    body {
        zoom: 0.65;
    }
}


/*for mobiles*/
@media (max-height:900px)and (max-width:499px) {
    body {
        gap: 9.5%;
    }

    #mbl {
        min-width: 225px;
        margin-top: 13%;
    }
}

@media (max-height:875px)and (max-width:499px) {
    body {
        gap: 9.5%;
    }

    #mbl {
        min-width: 225px;
        margin-top: 13%;
    }
}

@media (max-height:850px)and (max-width:499px) {
    body {
        gap: 9.5%;
    }

    #mbl {
        margin-top: 13%;
    }
}

@media (max-height:800px)and (max-width:499px) {
    body {
        gap: 6.5%;
    }

    #mbl {
        min-width: 225px;
        margin-top: 8%;
    }
}

@media (max-height:750px)and (max-width:499px) {
    body {
        gap: 4.5%;
    }

    #mbl {
        margin-top: 6%;
    }
}

@media (max-height:700px)and (max-width:499px) {
    body {
        gap: 0%;
    }

    #mbl {
        min-width: 225px;
        margin-top: 3%;
    }
}

#greenmid,
#bluemid {
    background-color: white;
    min-width: 45px;
    max-width: 45px;
    min-height: 90px;
    max-height: 90px;
    display: flex;
    flex-wrap: wrap;
}

#redmid,
#yellowmid {
    background-color: white;
    min-width: 90px;
    max-width: 90px;
    min-height: 45px;
    max-height: 45px;
    display: flex;
    flex-wrap: wrap;
}

#greenmid div,
#bluemid div,
#redmid div,
#yellowmid div {
    border: 1px solid rgb(0, 0, 0, 0.35);
    padding: 1.5px;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
}

#greenmid div div,
#bluemid div div,
#redmid div div,
#yellowmid div div {
    border: 1px solid black;
    padding: 0px;
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    line-height: 0px;
    font-size: 8px;
}

#center {
    z-index: 0;
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: relative;
}

#rotated {
    rotate: -45deg;
    display: flex;
    flex-wrap: wrap;
    zoom: 1.41;
    position: absolute;
    top: -9px;
    right: -12px;
    left: -7.5px;
}

#rotated div {
    width: 22.5px;
    height: 22.5px;
}

#red,
#green,
#yellow,
#blue {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    padding: 7.5px;
    min-width: 60px;
    min-height: 60px;
    max-width: 90px;
    max-height: 90px;
    background-color: white;
    cursor: pointer;
}

#red div,
#green div,
#yellow div,
#blue div {
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 50%;
}

#red div div,
#green div div,
#yellow div div,
#blue div div {
    border: 1px solid black;
    padding: 0px;
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
}

#red {
    border: 15px solid red;
}

#green {
    border: 15px solid green;
}

#blue {
    border: 15px solid blue;
}

#yellow {
    border: 15px solid yellow;
}

#red div div {
    background-color: red;
}

#green div div {
    background-color: green;
}

#yellow div div {
    background-color: yellow;
}

#blue div div {
    background-color: blue;
}

.rb,
#rt {
    background-color: red;
}

.gb,
#gt {
    background-color: green;
}

.bb,
#bt {
    background-color: blue;
}

.yb,
#yt {
    background-color: yellow;
}

#red div {
    border: 3px solid red;
}

#green div {
    border: 3px solid green;
}

#blue div {
    border: 3px solid blue;
}

#yellow div {
    border: 3px solid yellow;
}

#middle div {
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
    border: 1px solid black;
}

#dice {
    width: 50px;
    height: 50px;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 1.5px 1.5px 2px 2px rgb(0, 0, 0, 0.35);
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
}

.pulse-animation {
    animation: pulse 0.5s infinite;
}

#dice div {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    gap: 15px;
}

#players,
#pieces {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#plns,
#pins {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#intro div button {
    font-size: x-large;
    background-color: transparent;
    color: yellow;
    border: 2px solid yellow;
    padding: 0px;
    margin: 5px;
    min-width: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    background-color: green;
    color: white;
}

#home {
    display: block;
    background-color: red;
    color: white;
}

#restart {
    display: block;
    background-color: red;
    color: white;
}

button {
    padding: 2px 4px;
    border-radius: 4px;
    max-width: fit-content;
}

@keyframes dice-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(2880deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.rs div,
.gs div,
.bs div,
.ys div {
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.bp4 {
    background-color: blue;
    border-radius: 50%;
}

.str {
    background-image: url(star.png);
    background-repeat: no-repeat;
    background-size: contain;

}

#piece {
    background-color: white;
    border: 3px solid red;
}

@media (min-width:1250px)and (min-height:700px) {
    body {
        overflow: hidden;
        height: 33.35vh;
    }
}

@media (max-width:879px)and (min-height:700px) {
    body {
        height: 32vh;
    }
}

@media (min-width:879px)and (max-width:960px) {
    body {
        zoom: 2.3;
        height: 43vh;
    }
}

#confirm{
    padding: 10px;
    background-color: white;
    z-index:44;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: end;
    border-radius: 10px;
}
#cnfrmb{
    display: flex;
    flex-direction: row;
    gap:10px;
}
#no{
    display: block;
    background-color: green;
    color: white;
    border-radius: 4px;
}

button{
    cursor: pointer;
}